@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

* {
  font-family: 'Noto Sans KR', sans-serif !important;
  box-sizing: border-box;
  word-break: keep-all;
  text-align: justify;
}

a:visited {
    text-decoration: none;
    color: #228be6;
}